language: python
python:
  - '3.5'
  - '3.6'
  - 3.7-dev
  - nightly
install:
  - pip install .
  - pip install -r test_requirements.txt
script:
  - nosetests
deploy:
  provider: pypi
  user:
    secure: BynS0ojIIOxE62VrmKd4DhruDAjk3RjWu9xzSg2ADtVwe6gWU7Orj/Ig77s68tqyZA8r7uLWCATcfG33KDNlC68q5ENb+GuHLpgNRTSzSd03Fqd2QSdC3AbJzM5uIbiVDEwXIJEpMS0sWzpFW4U/NVCSCnVmjshLtLGNdlRikS3DL2ea20qsKHEBBfvPgf6kX9baGSM2SN3clYOTU5x9bN+ZHbFzudecFlLmLot8v9/W4Baz4QG2RgZWfZ0PgAKUbp38dnqSpzoJOSYN6o3Xzx4VHmsRUTMO57VhbToJfDikPVL+M7hUHWtHHp9ZwmfywrFJlRyv91FQgHlmve95xoXT4+eQ4Vz2cwowf08e8UqqSnjj11wDhmWg88+6sTXuR62PXz4HK38VLeUnqH/qW0FQMxdolawhdjIQ6I9e0DVH1q1WaNORsqxupMVcBJ6lkv9Z/EcrmCUvtrDORcDWWyYn4MeraJUPn6dAjw8qjdElCwOJ5FBbuNsOYt66C0QRxrw0tmeidV6JtpEcepC10IvDPON6B8tXOjivs/Va6+BykmqEczjoKPZF1apSeCcqlMEj0F0wmtXToCoUCJvgOT/COtRH6X0QgHtvoXODvH+VxTpOczWbWIygB8ijkdMpjnL2FhWtyI7imRMiXY7xNMURUa3BKV2GoZ2Ps9CcZ7s=
  password:
    secure: iB2hP7fm0YKksxpf16rJWkaK2ciiBc1Bp8cl1v0BdREwrNCvqLUcRgcgAWEUO9m/FiAOEfpkU7kEZsLZ1/rT8K2y+eAGgl78gq117vTsiDql7atrH1Z74RW7lRZH75B3bi38lJYoMsrDbYfOh6e4ZBGOn1b7jmskd/ag71VJnhueWrv9T/BD0S2M5oyJjcRDHINVOBra38RP9NtANP6QUiWAFQ0FYc/HY1ezRIrf5aGqcQfyRv/aDMQq0JMgxFZrcbkasT1VL6JSp1H30S9MNcZw+JEp+Cm8FJPsEeHaZUHeUiYv10jb6zAV2g4jSB7RSPrmsoegHpT0Yn6xxbNOCOjHcpz97h9uf2Lx/k4FnG2VyzEQGkmQ4gepqMsyN6WALxj73e3PzAp8OUBG0dd+zpilA01zc40D8hoe67PqMh7UPF4bHXGZGE31uzao335qG1FrZRofU8SY0Sl348b+sq2ixiWxmodV2R0wricTQPI4BrJi5jZYZGsMvWkMBS0qIjCwUL6d7LdPvt7G8/bpKXsrIoOa3nAT9gwIJSpuaF0NsfBN0sr6pkumVvGvSdD2r+gjtEJeOINWjy8l+RKAk89IXLi87NGh/63QjWdqfY3Z7Tm8h1xcbLKgeNX5w5dAYz4c8wOJpScVPawK3cW16Yxeosrg93ZnchxHf7NNHSY=
  distributions: sdist bdist_wheel
  skip_cleanup: true
  skip_existing: true
  on:
    branch: master
    tags: true
    python: 3.6
